<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kupanet.cashiersystem.DAO.OrderMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.kupanet.cashiersystem.model.Order">
    <id column="id" property="id" />
    <result column="member_id" property="memberId" />
    <result column="order_sn" property="orderSn" />
    <result column="create_time" property="createTime" />
    <result column="member_username" property="memberUsername" />
    <result column="total_amount" property="totalAmount" />
    <result column="pay_amount" property="payAmount" />
    <result column="discount_amount" property="discountAmount" />
    <result column="pay_type" property="payType" />
    <result column="status" property="status" />
    <result column="bill_type" property="billType" />
    <result column="bill_header" property="billHeader" />
    <result column="bill_content" property="billContent" />
    <result column="receiver_name" property="receiverName" />
    <result column="receiver_phone" property="receiverPhone" />
    <result column="note" property="note" />
    <result column="payment_time" property="paymentTime" />
    <result column="modify_time" property="modifyTime" />
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id, member_id, coupon_id, order_sn, create_time, member_username, total_amount, pay_amount, freight_amount, promotion_amount, integration_amount, coupon_amount, discount_amount, pay_type, source_type, status, order_type, integration, growth, promotion_info, bill_type, bill_header, bill_content, receiver_name, receiver_phone, note, confirm_status, delete_status, use_integration, payment_time, modify_time, prepay_id, supply_id, goods_id, goods_name, goods,school_id
  </sql>
  <select id="getTimeOutOrders" resultMap="BaseResultMap">
    SELECT
    o.id,
    o.order_sn,
    o.member_id,
    ot.id ot_id,
    ot.product_name ot_product_name,
    ot.product_sku_id ot_product_sku_id,
    ot.product_sku_code ot_product_sku_code,
    ot.product_quantity ot_product_quantity
    FROM
    cs_order o
    LEFT JOIN order_item ot ON o.id = ot.order_id
    WHERE
    o.status = 0
    AND o.create_time &lt; date_add(NOW(), INTERVAL -#{minute} MINUTE);
  </select>

  <select id="getTimeOutOrders" resultMap="orderDetailMap">
    SELECT
    o.id,
    o.order_sn,
    o.member_id,
    o.use_integration,
    ot.id ot_id,
    ot.product_name ot_product_name,
    ot.product_sku_id ot_product_sku_id,
    ot.product_sku_code ot_product_sku_code,
    ot.product_quantity ot_product_quantity
    FROM
    cs_order o
    LEFT JOIN order_item ot ON o.id = ot.order_id
    WHERE
    o.status = 0
    AND o.create_time &lt; date_add(NOW(), INTERVAL -#{minute} MINUTE);
  </select>
</mapper>
